// Headings
h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
}

h3 {
  margin-bottom: $leading/2;
}

h5 { margin-bottom:$leading/4; }


h1 {
  margin-bottom: $leading/2;
}

.subheader {
  font-family: $sans-serif;
  font-weight: 300 !important;
  line-height: 1.3 !important;
  color: $body-font-color;
}

h2.subheader {
  @extend .typl8-gamma;
  @include breakpoint(medium) {
    @include typl8-typescale(
        map-get($typl8-scale, typl8-mega),
        $typl8-font-base,
        '#{$typl8-typescale-unit}',
        $typl8-measure
      );
  }
}

h4.subheader {
  @extend .typl8-delta;
  @include typl8-typescale(
      map-get($typl8-scale, typl8-mega),
      $typl8-font-base,
      '#{$typl8-typescale-unit}',
      $typl8-measure
    );
}

a {
  color: $black;
  &:hover {
    color: lighten($black, 20%);
    transition: color, 0.3s, ease-in-out;
  }
}

.main-content p a {
  text-decoration: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 50%, transparent 50%);
  background-repeat: repeat-x;
  background-size: 2px 0.15em;
  background-position: 0 1.01em;
}

p.lead {
  font-size: 1.15rem;
}

p + p {
  margin-bottom: $leading;
}

p {
  margin-bottom: $leading;
}
