// Colors
$white: #FAFAFA;
$blue: #0073B1;

// Typography
$line-height: 1.65;
$leading: 1.65rem;

$header-font-family: 'Lora', Palatino, Georgia, 'Times New Roman', Times, serif;
$serif: Palatino, Georgia, 'Times New Roman',  serif;
$sans-serif: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
