.home {
  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }
}

.retreats, .homestead-projects, .blog {
  @include grid-row;
}

.homestead-projects, .blog, .more-about-this {
  margin-bottom: $leading*3;
}

.main-content {
  margin-bottom: $leading*2;
  h2, h3, h4 , h5 {
    text-align: left;
  }
}
