.welcome, .faq {
  padding: $leading*3 0 $leading*1.5 0;
  background-color: lighten($light-gray, 5%);
}

.welcome__column {
  @include grid-col;
  @include breakpoint(1080px) {
    @include grid-col(6);
  }
}

.cta {
  display: block;
  text-align: center;
}

.arrow {
  font-size: .8rem;
}

.secondary {
  padding: $leading*3 0;
  background-color: lighten(#B3E1FF, 5%);
}

.how-it-works {
  padding: $leading*3 0;
  background-color: lighten(#B3E1FF, 5%);
}

.how-it-works__header {
  text-align: center;
}

.retreats, .homestead-projects, .blog {
  @include grid-row;
}

.homestead-projects, .blog, .more-about-this {
  margin-bottom: $leading*3;
}

.main-content {
  margin-bottom: $leading*2;
  h2, h3, h4 , h5 {
    text-align: left;
  }
}

article[role="main"].blog {
  margin-top: $leading*2;
  h1 {
    text-align: center;
  }
}

ul.inline-list {
  list-style: none;
  li {
    display: inline-block;
  }
}
