<footer class="site-footer">
  <div class="row">
    <div class="site-footer__column">
      <h4>Links</h4>
      <ul class="site-footer__link-list shrink">
        <li><a href="/">Home</a></li>
        <li><a href="/our-story.html">Our Story</a></li>
        <li><a href="/events.html">Events</a></li>
        <li><a href="/retreats/food-as-medicine.html">Food As Medicine</a></li>
        <li><a href="/retreats/place-of-refuge">Place of Refuge</a></li>
        <li><a href="/blog.html">Blog</a></li>
        <li><a href="/contact.html">Contact</a></li>
      </ul>
    </div>
    <div class="site-footer__column shrink">
      <h4>Social</h4>
      <ul class="site-footer__link-list">
        <li><a href="https://www.facebook.com/iamjohnellison">Facebook</a></li>
        <li><a href="https://twitter.com/iamjohnellison">Twitter</a></li>
        <li><a href="https://www.instagram.com/jbellison11/">Instagram</a></li>
        <li><a href="javascript:void()">Yelp</a></li>
        <li><a href="javascript:void()">Tripadvisor</a></li>
      </ul>
    </div>
    <div class="site-footer__column">
      <h4>Contact</h4>
      <ul class="site-footer__link-list">
        <li>
          UK: <a href="tel:+447523280060">+44(0) 7523 280060</a>
        </li>
        <li>
          US: <a href="tel:+017203160059">+01(720) 316-0059</a>
        </li>
        <li>
          <a href="mailto:john@john-ellison.com">john@john-ellison.com</a>
        </li>
        <li>
          <a href="javascript:void()">Norwich, Norfolk UK</a>
        </li>

      </ul>
    </div>
  </div>
</footer>
