<footer class="site-footer">
  <div class="row">
    <div class="small-6 medium-expand columns">
      <strong>UK:</strong> <a href="tel:+447523280060" class="tel">+44(0) 7523 280060</a>
    </div>
    <div class="small-6 medium-expand columns">
      <strong>US:</strong> <a href="tel:+017203160059" class="tel">+01(720) 316-0059</a>
    </div>
    <div class="small-6 medium-expand columns">
      <a href="mailto:info@sharemsexperience.com">info@shareMSexperience.com</a>
    </div>
    <div class="small-6 medium-expand columns">
      <div class="fb-like" data-href="https://www.facebook.com/shareMSexperience/" data-width="250" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
    </div>
  </div>
</footer>
