<footer class="site-footer">
  <div class="row">
    <div class="small-6 medium-expand columns">
      <strong>UK:</strong> <a href="tel:+447523280060" class="tel">+44(0) 7523 280060</a>
    </div>
    <div class="small-6 medium-expand columns">
      <strong>US:</strong> <a href="tel:+017203160059" class="tel">+01(720) 316-0059</a>
    </div>
    <div class="small-6 medium-expand columns">
      <a href="mailto:john@john-ellison.com">john@john-ellison.com</a>
    </div>
    <div class="small-6 medium-expand columns">
      <a href="https://www.facebook.com/shareMSexperience">Find us on Facebook</a>
    </div>
    <div class="small-6 medium-expand columns">
      <span>Norwich, Norfolk</span>
      <span>NR14</span>
    </div>
  </div>
</footer>
