<!-- Main Navigation -->

<div class="top-nav">
  <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
    <a href="javascript:void()" data-toggle><button class="menu-icon" type="button"></button>
      <div class="title-bar-title">Menu</div></a>
  </div>

  <nav class="top-bar" id="main-menu">
    <div class="top-bar-left">
      <ul class="menu">
        <li class="menu-text"><h1>Ellison Homestead</h1></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li>
          <a href="#">Our Story</a>
        </li>
        <li><a href="#">Events</a></li>
        <li><a href="#">Retreats</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>
  </nav>
</div>
