<!-- Main Navigation -->

<div class="top-nav">
  <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
    <a href="javascript:void()" data-toggle><button class="menu-icon" type="button"></button>
      <div class="title-bar-title">Menu</div></a>
  </div>

  <nav class="top-bar" id="main-menu">
    <div class="top-bar-left">
      <ul class="menu">
        <li class="menu-text"><h1><a href="/">Ellison Homestead</a></h1></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu" data-responsive-menu="drilldown medium-dropdown">
        <li>
          <a href="/our-story.html">Our Story</a>
        </li>
        <li><a href="/events.html">Events</a></li>
        <li class="has-submenu">
          <a href="/retreats.html">Retreats</a>
          <ul class="submenu menu vertical" data-submenu>
            <li><a href="/retreats/food-as-medicine.html">Food as Medicine</a></li>
            <li><a href="/retreats/place-of-refuge.html">Place of Refuge</a></li>
          </ul>
        </li>
        <li><a href="/blog.html">Blog</a></li>
        <li><a href="/contact.html">Contact Us</a></li>
      </ul>
    </div>
  </nav>
</div>
