.block-grid {
  @include grid-row;
}

.block-grid__item {
  margin-bottom: $leading;
  @include grid-column(11);
  @include grid-column-position(center);
  @include breakpoint(medium) {
    @include grid-column(6);
  }
  @include breakpoint(large) {
    @include grid-column(4);
  }
  img {
    border-radius: $global-radius;
    width: 100%;
    height: auto;
    @include material-shadow(1);
    &:hover {
      @include material-shadow(2);
      transition: box-shadow, 0.3s, ease-in-out;
    }
  }
}
