.card {
  text-align: left;
  border-radius: $global-radius;
  border: 1px solid #D8D8D8;
  p {
    text-indent: 0;
    & + p {
      margin-top: 0;
    }
  }
  &:hover {
    @include material-shadow(1);
    transition: box-shadow, 0.3s, ease-in-out;
  }
  .card__image {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
}

.card__footer {
  a {
    text-decoration: none;
    color: inherit;
    &:hover {
      text-decoration: underline;
    }
  }
  h1 {
    @extend .typl8-gamma;
    text-align: left;
    line-height: 1.5;
  }
  p:hover {
    text-decoration: none;
  }
  padding: 0 $leading;
}

.card__published {
  margin-bottom: $leading;
  font-family: $font-family-sans-serif;
  color: $beige;
}

.card__footer a.card__excerpt:hover {
  text-decoration: none;
}

.card--overlay {
  position: relative;
  @extend .card;
  box-shadow: none;
  border: none;
  overflow: hidden;
  &:hover {
    box-shadow: none;
    .card--overlay__caption {
      opacity: 1;
    }
    img {
      @include material-shadow(2);
      transition: all 0.3s ease-in-out;
    }
  }
  img {
    display: block;
    border-radius: $global-radius;
    @include material-shadow(1);
  }
}

.card--overlay__caption {
  opacity: 0;
  margin-top: -$leading;
  transition: opacity 0.3s ease-in-out;
  @include vertical-center;
  @include horizontal-center;
  h3, h4, h5 {
    color: $white;
  }
  text-shadow: 0 1px 3px rgba(0,0,0, 0.8);
}

.card--featured {
  margin-bottom: $leading*3;
  text-align: center;
  .card__footer {
    h1 {
      text-align: center;
      @extend .typl8-beta;
    }
  }
  p {
    font-family: $font-family-sans-serif;
    color: $beige;
  }
}
