.cta__wrapper {
  background-color: lighten($shrimp-pink, 5%);
}

.cta__content {
  padding: 18.5vh 0;
}

.cta__header {
  // padding: 0 12vw;
  h2 {
    margin-bottom: $leading;
    line-height: 1.3;
  }
  .subheading {
    margin-bottom: $leading*2;
  }
}

.cta__form {
  // @include breakpoint(medium) {
  //   @include grid-col(4);
  //   @include grid-column-position(center);
  // }
  margin: 0 auto;
  display: table;
}

.cta--split {
  display: flex;
}

.cta--split__column {
  text-align: left;
  flex: 1 1;
  padding: $leading*4 $leading*2;
  h2, h3, h4, h5, h6 {
    text-align: left;
  }
  &:first-child {
    background-color: lighten($shrimp-pink, 5%);
  }
  &:last-child {
    background-color: darken($slate-blue, 5%);
  }
}
