.site-footer {
  background: $horse-hair;
  padding: $leading*2 0;
  h3, h4, h5, a {
    color: $white;
  }
}

.site-footer__column {
  @include flex-grid-column;
  &:not(:last-child) {
    margin-bottom: $leading*2;
  }
  @include breakpoint(medium) {
    margin-bottom: 0;
  }
}

.site-footer__link-list {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    font-family: $sans-serif;
    color: $white;
    &:not(:last-child) {
      margin-bottom: $leading/2;
      border-bottom: 1px solid $beige;
      padding-bottom: .6rem;
    }
    a {
      color: $white;
      text-decoration: none;
      font-size: $sans-serif;
      @extend .typl8-delta;
    }
    .small-caps {
      font-size: inherit;
      font-variant: default;
      margin-right: .5rem;
    }
  }
}
