form {
  font-family: $sans-serif;
  input[type="text"],
  input[type="email"] {
    border-radius: $global-radius;
    border: 2px solid $white;
    background-color: rgba(255,255,255, 0.1);
    font-family: $sans-serif;
    padding: 1.27rem 1rem;
    @include breakpoint(medium) {
      margin: 0;
    }
    &::placeholder {
      color: $white;
    }
    &:focus {
      background-color: rgba(255,255,255, 0.0);
      border: 2px solid $white;
      @include material-shadow(1);
      transition: all 0.3s ease-in-out;
    }
  }
  input[type="submit"].button {
    margin: 0;
    background-color: $white;
    color: $horse-hair;
    border: 2px solid $white;
    &:hover {
      background-color: $horse-hair;
      color: $white;
      border: 2px solid $horse-hair;
    }
  }
  &.madlib {
    color: $white;
    font-size: 1rem;
    line-height: 2.3;
    ul[role="radio-group"] {
      list-style: none;
      padding: 0;
    }
    textarea {
      background-color: rgba(255,255,255, 0.1);
      border: none;
      border-bottom: 2px solid white;
      min-height: $leading*2;
      padding: 0 $leading/4;
      color: $white;
      margin-top: $leading/2;
    }
    fieldset {
      margin-bottom: $leading;
    }
    span {
      color: $white;
      font-size: 1rem;
      &.salutation {
        display: block;
        margin-bottom: $leading;
      }
    }
    label {
      display: inline-block;
      color: $white;

    }
    input[type="text"], input[type="email"] {
      display: inline-block;
      border: none;
      border-bottom: 2px solid $white;
      padding: 0 $leading/4;
      margin-left: .3rem;
      font-size: 1rem;
      width: $leading*5;
      height: $leading;
      color: $white;
      &[type="email"], &.location {
        width: $leading*6;
      }
    }
    input[type="radio"] {
      margin: 0 $leading/4 $leading/2 0;
    }
    input[type="submit"] {
      @extend .button;
    }
  }
}

.input-group {
  > :first-child {
    border-radius: 50px 0 0px 50px;
  }
  > :last-child > * {
    border-radius: 0 50px 50px 0;
  }
}
