.marquee {
  margin-bottom: $leading*3;
  background-color: $light-beige;
  &#home {
    background-image: url('/assets/img/homestead-1600x1000.jpg');
  }
  .marquee__content {
    @include grid-col-row;
    padding: 25vh 0;
    @include breakpoint(large) {
      max-width: 75vw;
    }
  }
}

.marquee--secondary {
  position: relative;
  margin: $leading*4 0 $leading*3 0;
  min-height: 55vh;
  max-height: 75vh;
  background-color: $beige;
  &#story {
    background-image: url('/assets/img/railway-journey.jpg');
    background-size: cover;
  }
  &#events {
    background-image: url('/assets/img/fireworks-m.jpg');
    background-size: cover;
    background-position: 0% 25%;
  }
  &#contact {
    background-image: url('/assets/img/john-and-sophie-m.jpg');
    background-size: cover;
    background-position: 50% 18%;
    min-height: 65vh;
  }
  &#food-as-medicine {
    background-image: url('/assets/img/blueberries.jpg');
    background-size: cover;
  }
  &#food-as-medicine {
  }
  .marquee__content {
    h1, .subheader {
      text-align: left;
      position: relative;
      margin-bottom: $leading;
      bottom: $leading*2;
      padding: $leading $leading*2;
      background-color: $light-beige;
      width: auto;
      display: inline-block;
      @include material-shadow(1);
    }
    .subheader {
      background-color: $white;
      padding: $leading/2 $leading;
      @include breakpoint(small only) {
        font-size: 1.2rem;
      }
    }
  }
}
