.scroll-cta {
  height: $leading*2;
  width: $leading*2;
  background-color: $horse-hair;
  position: absolute;
  left: 50%;
  margin-left: -$leading;
  margin-top: -$leading*1.2;
  border-radius: 100%;
  &:hover {
    @include material-shadow(1);
    transition: box-shadow, 0.3s, ease-in-out;
  }
  &::after {
    @include css-triangle(.5rem, $white, down);
    position: absolute;
    top: 45%;
    transform: translateY(-45%);
    @include horizontal-center;
  }
  &::before {
    @include css-triangle(.5rem, $horse-hair, down);
    z-index: 1;
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
    @include horizontal-center;
  }
}
