.teaser-box {
  @include grid-row;
  margin-bottom: $leading*6;
  &:nth-child(odd) {
    @include breakpoint(large) {
      .teaser-box__content {
        @include grid-column-position(6);
        @include callout-style(lighten($horse-hair, 10%));
      }
      .teaser-box__photo {
        @include grid-column-position(-5);
      }
    }
  }
}

.teaser-box__content {
  position: relative;
  top: $leading*3;
  z-index: 1;
  text-align: left;
  color: $white;
  border-radius: $global-radius;
  h2, h3, h4, h5, h6 {
    text-align: left;
    color: $white;
    margin-bottom: $leading;
  }
  p {
    color: $white;
  }
  @include callout-base;
  @include callout-style($beige);
  padding: $leading !important;
  @include material-shadow(2);
  @include grid-column(10);
  @include grid-column-position(center);
  @include breakpoint(large) {
    top: 0;
    z-index: 2;
    @include grid-column(5, 0);
  }
}

.teaser-box__photo {
  img {
    @include material-shadow(1);
    border-radius: $global-radius;
  }
  @include grid-column;
  @include grid-column-position(center);
  @include breakpoint(large) {
    @include grid-column(7, 0);
    @include grid-column-position(-1);
    position: relative;
    top: $leading*3;
  }
}
