{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Share Your MS Experience: An Informal Study in East Anglia</title>
    <meta name="description" content="Do you or a loved on have MS? Would you be willing to share your experiences to help others with MS live better lives?">
    <link href="https://fonts.googleapis.com/css?family=Lora:700|Roboto:300,500" rel="stylesheet">
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <meta property="og:url" content="http://sharemsexperience.com" />
    <meta property="og:title" content="Share Your MS Experience" />
    <meta property="og:description" content="Do you or a loved on have MS? Would you be willing to share your experiences to help others with MS live better lives?" />
    <meta property="og:image" content="http://sharemsexperience.com/assets/img/sarah-john-sophie-1200x630.jpg" />
    <meta property="fb:app_id" content="1457615860939158">
  </head>
  <body>
    <!-- {{> header}} -->

    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    {{> body}}

    {{> footer}}

    <script src="{{root}}assets/js/app.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-87940430-2', 'auto');
      ga('send', 'pageview');

    </script>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=1457615860939158";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  </body>
</html>
